In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("https://drive.google.com/uc?id=1tttKFRu_javrfHQoU--czFDIN3n8LLXy")
data.head()

         Date    Open    High     Low   Close  Volume      Time
0  01-01-2024  642.20  642.70  641.00  641.95   89481  09:15:00
1  01-01-2024  641.95  642.85  641.95  642.45   48965  09:16:00
2  01-01-2024  642.70  644.00  642.70  643.50   65729  09:17:00
3  01-01-2024  643.90  644.55  643.30  643.40   47909  09:18:00
4  01-01-2024  643.70  644.10  643.45  643.75   27645  09:19:00

In [9]:
# storing unique values of Date and Time column in new variables

dates = data['Date'].unique()
times = data['Time'].unique()

In [10]:
# creating different groups based on time
grouped_data = data.groupby('Time')

# ranks will pe appended to this list
rank_list = []

for time in times:
    group = grouped_data.get_group(time)
    
    # creating a series of every 6 consecutive values of Volume column from start
    for i in range(5,len(dates)):
        volumes = group['Volume'][i-5:i+1]
        # sorting this series in descending order
        sorted_volumes = volumes.sort_values(ascending = False)
        
        for volume in sorted_volumes:
            if volume == group['Volume'].iat[i]:
                index = group[group['Volume'] == volume].index[0]
                # getting rank of every value of Value column using positional index
                rank = pd.Index(list(sorted_volumes)).get_loc(volume) + 1
                # adding rank to the list of ranks
                rank_list.append(rank)

In [11]:
# for first 5 dates, rank column will contain null values
for i in dates[0:5]:
    for date in data['Date']:
        if  i == date:
            rank_list.insert(0,None)

# add the list of ranks in a new column of the existing dataframe
data['rank'] = rank_list

In [12]:
data.to_excel("C:/Users/ASUS/Desktop/Output.xlsx")